/* Header */
.header {
  position: fixed;
  width: 100%;
  background-color: navy;
  z-index: 100;
}

.navigation {
  background-color: navy;
}

.navbar-menu {
  width: 100vw;
}

.navbar-menu-centered {
  justify-content: center;
}

.navbar-item {
  color: white;
}

.navbar-link {
  color: white;
}

.navbar-dropdown a.navbar-item {
  color: navy;
}

.nav-menu-scroll-container {
  display: flex;
  position: fixed;
  height: 100%;
  background-color: navy;
  overflow-y: scroll;
  transition: height .2s ease-in-out;
}

@media handheld and (max-width: 999px), screen and (max-width: 999px) {
  .navbar-link {
    font-size: 2rem;
  }

  .navbar-item {
    font-size: 2rem;
  }

  .navbar-dropdown a.navbar-item {
    color: white;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 999px) {
  .nav-menu-scroll-container {
    position: relative;
    overflow-y: visible;
    height: auto;
  }
}

.navbar-vertical-divider {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-burger.burger span {
  border: 1px solid white;
}

@media only screen and (max-device-width: 999px) {
  .navbar-brand a.navbar-item:hover {
    background-color: navy;
  }

 .navbar-brand .navbar-burger:hover {
    background-color: navy;
  }
}


.no-padding-bottom {
  padding-bottom: 0;
}

.mobile-top-button {
  margin-bottom: 1rem;
}

.header-buttons-wrapper {
  padding-top: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

@media screen and (max-width: 1330px) {
  .header-buttons-wrapper {
    flex-direction: column-reverse;
    padding-left: 1rem;
    padding-top: 0.5rem;
  }

  .header-buttons-wrapper .header-button {
    margin-bottom: 0.25rem;
    height: 2rem;
  }

  .header-buttons-wrapper .header-button.social-icon-wrapper {
    justify-content: flex-end;
  }
}

.header-buttons-wrapper .header-button {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: center;
}

.title-image {
  display: flex;
  justify-content: center;
}

.title-image img {
  min-width: 410px;
  padding-top: 10px;
}

.social-icon i {
  color: white;
}

.social-icon i:hover {
  color: grey;
}

.desktop-spacer {
  height: 174px;
}

.mobile-spacer {
  height: 52px;
}

/* Hero */
.hero-image {
  line-height: 0;
  text-align: center;
  position: relative;
  max-height: 450px;
}

.hero-image img {
  height: auto;
  width: auto;
  max-height: 450px;
}

.hero-overlay {
  background-color: rgba(0, 0, 128, 0.45);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 65%;
  left: 17.5%;
  height: 30%;
  bottom:0;
}

.hero-overlay-title {
  color: white;
  font-weight: 500;
}

.hero-overlay-text {
  color: white;
  font-weight: 500;
}

@media handheld and (max-width: 999px), screen and (max-width: 999px) {
  .hero-overlay-title.is-2 {
    font-size: 1.75rem;
  }

  .hero-overlay-text.is-4 {
    font-size: 1rem;
  }
}

@media handheld and (max-width: 768px), screen and (max-width: 768px) {
  .hero-overlay-title.title {
    margin-bottom: 0;
  }
}

/* Carousel */
.carousel {
  position: relative;
}

.carousel-controls {
  position: absolute;
  width: 100%;
  z-index: 50;
  top: 45%;
  left: 0;
}

.carousel-control {
  display: inline-block;
}

.carousel-control:hover {
  opacity: 0.5;
}

.carousel-left-control {
  margin-left: 3%;
}

.carousel-right-control {
  margin-right: 3%;
  float: right;
}

.icon .fa.fa-angle-left {
  font-size: 9rem;
}

.icon .fa.fa-angle-right {
  font-size: 9rem;
}

/* Footer */
.footer {
  background-color: navy;
}

.footer .nav-lite-wrapper a {
  color: white;
}

.footer .contact-wrapper a {
  color: white;
}

.footer .contact-wrapper div {
  color: white;
}

.footer .contact-wrapper span {
  color: white;
}

.footer .disclaimer-wrapper {
  color: white;
}

.footer .disclaimer-wrapper .title-image-footer {
  display: inline-block;
}

.footer .disclaimer-wrapper .title-image-footer img {
  height: auto;
  width: 50%;
}

.footer .disclaimer-wrapper .disclaimer div {
  display: inline-block;
  padding: 0.5rem;
  border: 2px solid white;
}

/* Index */
.article-wrapper {
  box-shadow: 0 0.05rem 0 grey;
}

.section-toggle-wrapper {
  display: flex;
  flex-direction: row;
}

.section-toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-size: 3vw;
  justify-content: center;
}

.section-toggle:hover {
  box-shadow: 0 0.1rem 0 black;
}

.section-toggle.active {
  color: rgb(41, 131, 209);
}

.calendar-wrapper .calendar iframe {
  width: 100%;
}

@media handheld and (max-width: 999px), screen and (max-width: 999px) {
  .section-toggle {
    font-size: 6vw;
  }
}

/* Form */
.update-form-wrapper {
  background-color: lightgrey;
}

/* Buttons */
.button.is-danger {
  background-color: rgb(230, 37, 37);
  font-weight: 600;
}

.button.is-warning {
  font-weight: 600;
}

.button.is-danger:hover {
  background-color: rgb(230, 100, 100);
  color: black;
}

.button.is-warning {
  background-color: rgb(41, 131, 209);
  color: white;
}

.button.is-warning:hover {
  background-color: rgb(100, 161, 209);
  color: black;
}

.button.is-warning.is-outlined {
  background-color: rgb(41, 131, 209);
  border-color: rgb(41, 131, 209);
  color: white;
}

.button.is-warning.is-outlined:hover {
  background-color: rgb(100, 161, 209);
  border-color: rgb(100, 161, 209);
}

.button.sidebar-button {
  height: 60px;
  margin-bottom: 1rem;
}

/* Anchor */
a.anchor-tag {
  display: block;
  position: relative;
  top: -178px;
  visibility: hidden;
}

/* Sidebar */
.sidebar-wrapper {
  min-width: 224px;
}

.box.sidebar-twitter-container {
  padding: 1.0rem;
}

.box.sidebar-fb-container {
  text-align: center;
  padding: 0;
}

/* Plan */
.plan-list li {
  margin: 1rem 0;
}

/* Issues */
.main-content {
  display: inline-block;
  width: 100%;
}

.extra-content {
  padding-left: 4rem;
}

.extra-content p {
  margin-bottom: 1rem;
}

.extra-content p ul li {
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

.issues-pic {
  height: 100%;
  max-width: 300px;
}

.issues-pic-left {
  float: left;
  padding-right: 1rem;
}

.issues-pic-right {
  float: right;
  padding-left: 1rem;
}

.issues-icon {
  height: 100%;
  max-width: 300px;
}

.issues-icon i {
  font-size: 10rem;
}

.issues-icon-left {
  float: left;
  padding-right: 1rem;
}

.issues-icon-right {
  float: right;
  padding-left: 1rem;
}

@media only screen and (max-device-width: 999px) {
  .issues-icons i {
    font-size: 8rem;
  }

  .extra-content {
    padding-left: 2rem;
  }

  .issues-pic-left {
    float: none;
    padding-right: 0;
  }

  .issues-pic-right {
    float: none;
    padding-left: 0;
  }
}

/* Vote */
.vote-option-wrapper .vote-section-header i {
  display: none;
}

.vote-option-wrapper .vote-section-icon i.fa {
  font-size: 5rem;
}

.vote-option-wrapper .vote-section-body a {
  color: navy;
  font-size: 2rem;
}

@media only screen and (max-device-width: 999px) {
  .vote-option-wrapper .vote-section-header {
    font-size: 2.3rem;
  }

  .vote-option-wrapper .vote-section-header i {
    display: inline;
    font-size: 2.3rem;
  }

  .vote-option-wrapper .vote-section-icon {
    display: none;
  }
}

/* About */
.about-main-content {
  display: inline-block;
}

.about-pic {
  height: 100%;
  max-width: 300px;
}

.about-pic-left {
  float: left;
  padding-right: 1rem;
}

.about-pic-right {
  float: right;
  padding-left: 1rem;
}

@media only screen and (max-device-width: 999px) {
  .about-pic {
    width: 100%;
  }

  .about-pic-left {
    float: none;
    padding-right: 0;
  }

  .about-pic-right {
    float: none;
    padding-left: 0;
  }
}

.supporters-list-container ul {
  padding-left: 2rem;
}

.supporters-list-container ul li {
  padding-bottom: 0.5rem;
}

.endorsements-list-container ul {
}

.endorsements-list-container ul li {
  background-color: #E6E6E6;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border-radius: 5px;

}

.endorsements-list-container ul li q {
  quotes: "\201C" "\201D";
}

.endorsements-list-container ul li p {
  text-align: right;
}

.endorsement-form-container {
  margin-top: 2rem;
  background-color: lightgrey;
}

/* Support */
.support-fragment ul {
  list-style-type: disc;
  padding-left: 2rem;
}

.support-fragment a {
  color: navy;
}

.support-fragment a:hover {
  color: #228B22;
  background-color: transparent;
  text-decoration: underline;
}

.support-fragment a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

/* Etc */
.is-alternate-cta {
  background-color: hsl(48, 100%, 67%);
  font-weight: 600;
}

.is-grey-cta {
  background-color: hsl(48, 100%, 67%);
  font-weight: 600;
  color: white;
}
