.header {
  position: fixed;
  width: 100%;
  background-color: navy;
}

.navigation {
  background-color: navy;
}

.navbar-menu-centered {
  justify-content: center;
}

.navbar-item {
  color: white;
}

.navbar-link {
  color: white;
}

.navbar-dropdown a.navbar-item {
  color: navy;
}

.navbar-vertical-divider {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.buttons-wrapper {
  padding-top: 10px;
}

.title-image {
  display: flex;
  justify-content: center;
}

.title-image img {
  padding-top: 10px;
}

.social-icon i {
  color: white;
}

.social-icon i:hover {
  color: grey;
}

.desktop-spacer {
  height: 192px;
}
